PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE IF NOT EXISTS "django_migrations" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "app" varchar(255) NOT NULL, "name" varchar(255) NOT NULL, "applied" datetime NOT NULL);
INSERT INTO django_migrations VALUES(1,'contenttypes','0001_initial','2023-11-06 13:19:10.400514');
INSERT INTO django_migrations VALUES(2,'auth','0001_initial','2023-11-06 13:19:10.429516');
INSERT INTO django_migrations VALUES(3,'admin','0001_initial','2023-11-06 13:19:10.469519');
CREATE TABLE IF NOT EXISTS "auth_group_permissions" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "group_id" integer NOT NULL REFERENCES "auth_group" ("id") DEFERRABLE INITIALLY DEFERRED, "permission_id" integer NOT NULL REFERENCES "auth_permission" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "auth_user_groups" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "user_id" integer NOT NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED, "group_id" integer NOT NULL REFERENCES "auth_group" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "auth_user_user_permissions" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "user_id" integer NOT NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED, "permission_id" integer NOT NULL REFERENCES "auth_permission" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "django_admin_log" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "object_id" text NULL, "object_repr" varchar(200) NOT NULL, "action_flag" smallint unsigned NOT NULL CHECK ("action_flag" >= 0), "change_message" text NOT NULL, "content_type_id" integer NULL REFERENCES "django_content_type" ("id") DEFERRABLE INITIALLY DEFERRED, "user_id" integer NOT NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED, "action_time" datetime NOT NULL);
CREATE TABLE IF NOT EXISTS "django_content_type" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "app_label" varchar(100) NOT NULL, "model" varchar(100) NOT NULL);
INSERT INTO django_content_type VALUES(1,'admin','logentry');
INSERT INTO django_content_type VALUES(2,'auth','permission');
INSERT INTO django_content_type VALUES(3,'auth','group');
CREATE TABLE IF NOT EXISTS "auth_permission" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "content_type_id" integer NOT NULL REFERENCES "django_content_type" ("id") DEFERRABLE INITIALLY DEFERRED, "codename" varchar(100) NOT NULL, "name" varchar(255) NOT NULL);
INSERT INTO auth_permission VALUES(1,1,'add_logentry','Can add log entry');
INSERT INTO auth_permission VALUES(2,1,'change_logentry','Can change log entry');
INSERT INTO auth_permission VALUES(3,1,'delete_logentry','Can delete log entry');
CREATE TABLE IF NOT EXISTS "auth_group" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "name" varchar(150) NOT NULL UNIQUE);
CREATE TABLE IF NOT EXISTS "auth_user" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "password" varchar(128) NOT NULL, "last_login" datetime NULL, "is_superuser" bool NOT NULL, "username" varchar(150) NOT NULL UNIQUE, "last_name" varchar(150) NOT NULL, "email" varchar(254) NOT NULL, "is_staff" bool NOT NULL, "is_active" bool NOT NULL, "date_joined" datetime NOT NULL, "first_name" varchar(150) NOT NULL);
CREATE TABLE IF NOT EXISTS "django_session" ("session_key" varchar(40) NOT NULL PRIMARY KEY, "session_data" text NOT NULL, "expire_date" datetime NOT NULL);
CREATE TABLE IF NOT EXISTS "shipping_tracker_trackingdb" ("order_id" integer NOT NULL PRIMARY KEY, "tracking_number" varchar(20) NOT NULL, "date_shipping" date NULL, "Shipping_Status" varchar(20) NOT NULL, "Expected_Arrival" date NULL, "Arrival_Status" varchar(20) NOT NULL, "history" text NOT NULL CHECK ((JSON_VALID("history") OR "history" IS NULL)), "shipper" varchar(20) NOT NULL, "ol_state" integer NOT NULL, "date_creation" datetime NULL);
INSERT INTO shipping_tracker_trackingdb VALUES(34759786,'1Z0438R96898257886','2023-11-16','Shipped On Time','2023-11-20','On Time','[["2023-11-16", "Shipper created a label, ups has not received the package yet. "], ["2023-11-16", "Collection scan "], ["2023-11-16", "Origin scan"], ["2023-11-16", "Departed from facility"], ["2023-11-16", "Arrived at facility"], ["2023-11-17", "Departed from facility"], ["2023-11-17", "Arrived at facility"], ["2023-11-17", "Out for delivery"], ["2023-11-17", "Delivered "]]','UPS',3,'2023-11-15 17:59:37');
CREATE TABLE IF NOT EXISTS "data_browser_view" ("id" varchar(12) NOT NULL PRIMARY KEY, "created_time" datetime NOT NULL, "name" varchar(64) NOT NULL, "description" text NOT NULL, "public" bool NOT NULL, "fields" text NOT NULL, "query" text NOT NULL, "owner_id" integer NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED, "public_slug" varchar(12) NOT NULL, "limit" integer NOT NULL, "shared" bool NOT NULL, "folder" varchar(64) NOT NULL, "model_name" varchar(64) NOT NULL);
CREATE TABLE IF NOT EXISTS "shipping_tracker_deviceattributes" ("manufacturer" varchar(20) NOT NULL, "model" varchar(20) NOT NULL, "color" varchar(20) NOT NULL, "capacity" varchar(20) NOT NULL, "carrier" varchar(20) NOT NULL, "grade" varchar(20) NOT NULL, "sku" varchar(20) NOT NULL PRIMARY KEY);
INSERT INTO shipping_tracker_deviceattributes VALUES('Apple','iPhone 11 Pro Max','Gold','256GB','None','A','IP11PROMAX256GA');
INSERT INTO shipping_tracker_deviceattributes VALUES('Apple','iPhone 11 Pro Max','Gold','256GB','None','A+','IP11PROMAX256GAA');
INSERT INTO shipping_tracker_deviceattributes VALUES('Apple','iPhone 11 Pro Max','Gold','256GB','None','A/B','IP11PROMAX256GAB');
CREATE TABLE IF NOT EXISTS "shipping_tracker_devicestatus" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "status" varchar(20) NOT NULL, "sellable" bool NOT NULL);
INSERT INTO shipping_tracker_devicestatus VALUES(1,'Deleted',0);
INSERT INTO shipping_tracker_devicestatus VALUES(2,'Unavailable',0);
INSERT INTO shipping_tracker_devicestatus VALUES(3,'Available',1);
CREATE TABLE IF NOT EXISTS "shipping_tracker_devices" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "imei" integer NOT NULL UNIQUE, "sku_id" varchar(20) NOT NULL REFERENCES "shipping_tracker_deviceattributes" ("sku") DEFERRABLE INITIALLY DEFERRED, "deviceStatus_id" integer NULL REFERENCES "shipping_tracker_devicestatus" ("id") DEFERRABLE INITIALLY DEFERRED, "battery" integer NULL, "date_added" date NOT NULL, "date_tested" date NULL, "working" bool NULL, "po_id" bigint NULL REFERENCES "shipping_tracker_purchaseorders" ("id") DEFERRABLE INITIALLY DEFERRED, "so_id" integer NULL REFERENCES "shipping_tracker_salesorders" ("so") DEFERRABLE INITIALLY DEFERRED, "warehouse_id" varchar(20) NULL REFERENCES "shipping_tracker_warehouse" ("name") DEFERRABLE INITIALLY DEFERRED);
INSERT INTO shipping_tracker_devices VALUES(388,357366091485312,'IPXR128WAB',1,NULL,'2024-01-15',NULL,NULL,NULL,NULL,NULL);
INSERT INTO shipping_tracker_devices VALUES(956,350643637033013,'IP12128BA',3,100,'2024-01-23','2024-01-23',NULL,NULL,NULL,NULL);
INSERT INTO shipping_tracker_devices VALUES(957,353560906817594,'IP12128BA',3,93,'2024-01-23','2024-01-23',1,NULL,NULL,NULL);
CREATE TABLE IF NOT EXISTS "shipping_tracker_currencies" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "name" varchar(20) NOT NULL UNIQUE, "symbol" varchar(20) NOT NULL, "default_rate" decimal NOT NULL);
CREATE TABLE IF NOT EXISTS "shipping_tracker_warehouse" ("name" varchar(20) NOT NULL PRIMARY KEY, "address" varchar(20) NOT NULL);
CREATE TABLE IF NOT EXISTS "shipping_tracker_suppliers" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "name" varchar(20) NOT NULL UNIQUE, "address" varchar(20) NOT NULL, "contact" varchar(20) NOT NULL, "email" varchar(20) NOT NULL, "currency_id" bigint NULL REFERENCES "shipping_tracker_currencies" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "shipping_tracker_salesorders" ("so" integer NOT NULL PRIMARY KEY, "date_created" date NOT NULL, "date_shipped" date NULL, "shipped_by" varchar(20) NULL, "warehouse_id" varchar(20) NULL REFERENCES "shipping_tracker_warehouse" ("name") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "shipping_tracker_salesorderitems" ("item" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "quantity" integer NOT NULL, "unit_cost" decimal NOT NULL, "date_added" date NOT NULL, "currencies_id" bigint NOT NULL REFERENCES "shipping_tracker_currencies" ("id") DEFERRABLE INITIALLY DEFERRED, "sku_id" varchar(20) NOT NULL REFERENCES "shipping_tracker_deviceattributes" ("sku") DEFERRABLE INITIALLY DEFERRED, "so_id" integer NOT NULL REFERENCES "shipping_tracker_salesorders" ("so") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "shipping_tracker_purchaseorderitems" ("item" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "quantity" integer NOT NULL, "unit_cost" decimal NOT NULL, "date_added" date NOT NULL, "currencies_id" bigint NOT NULL REFERENCES "shipping_tracker_currencies" ("id") DEFERRABLE INITIALLY DEFERRED, "po_id" bigint NOT NULL REFERENCES "shipping_tracker_purchaseorders" ("id") DEFERRABLE INITIALLY DEFERRED, "sku_id" varchar(20) NOT NULL REFERENCES "shipping_tracker_deviceattributes" ("sku") DEFERRABLE INITIALLY DEFERRED, "supplier_id" bigint NOT NULL REFERENCES "shipping_tracker_suppliers" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "shipping_tracker_historicalsalesorderitems" ("item" integer NOT NULL, "quantity" integer NOT NULL, "unit_cost" decimal NOT NULL, "date_added" date NOT NULL, "history_id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "history_date" datetime NOT NULL, "history_change_reason" varchar(100) NULL, "history_type" varchar(1) NOT NULL, "currencies_id" bigint NULL, "history_user_id" integer NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED, "sku_id" varchar(20) NULL, "so_id" integer NULL);
CREATE TABLE IF NOT EXISTS "shipping_tracker_historicalpurchaseorderitems" ("item" integer NOT NULL, "quantity" integer NOT NULL, "unit_cost" decimal NOT NULL, "date_added" date NOT NULL, "history_id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "history_date" datetime NOT NULL, "history_change_reason" varchar(100) NULL, "history_type" varchar(1) NOT NULL, "currencies_id" bigint NULL, "history_user_id" integer NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED, "po_id" bigint NULL, "sku_id" varchar(20) NULL, "supplier_id" bigint NULL);
CREATE TABLE IF NOT EXISTS "shipping_tracker_historicaldevices" ("id" bigint NOT NULL, "imei" integer NOT NULL, "battery" integer NULL, "date_added" date NOT NULL, "date_tested" date NULL, "working" bool NULL, "history_id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "history_date" datetime NOT NULL, "history_change_reason" varchar(100) NULL, "history_type" varchar(1) NOT NULL, "deviceStatus_id" integer NULL, "history_user_id" integer NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED, "po_id" bigint NULL, "sku_id" varchar(20) NULL, "so_id" integer NULL, "warehouse_id" varchar(20) NULL);
INSERT INTO shipping_tracker_historicaldevices VALUES(572,351224673573110,89,'2024-01-16','2024-01-16',1,1,'2024-01-16 11:50:46.513354',NULL,'+',3,NULL,NULL,'IP13128RA',NULL,NULL);
INSERT INTO shipping_tracker_historicaldevices VALUES(573,351475537220229,95,'2024-01-16','2024-01-16',1,2,'2024-01-16 11:50:46.523309',NULL,'+',3,NULL,NULL,'IP13128RA',NULL,NULL);
INSERT INTO shipping_tracker_historicaldevices VALUES(574,352725357428263,88,'2024-01-16','2024-01-16',1,3,'2024-01-16 11:50:46.533881',NULL,'+',3,NULL,NULL,'IP13PRO128GRA',NULL,NULL);
CREATE TABLE IF NOT EXISTS "shipping_tracker_faults" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "fault" varchar(20) NOT NULL, "repaired" bool NOT NULL, "date_repaired" date NULL, "repaired_by" varchar(20) NULL, "repair_cost" decimal NULL, "device_id" bigint NOT NULL REFERENCES "shipping_tracker_devices" ("id") DEFERRABLE INITIALLY DEFERRED);
INSERT INTO shipping_tracker_faults VALUES(1157,'G',0,NULL,NULL,NULL,986);
INSERT INTO shipping_tracker_faults VALUES(1158,'l',0,NULL,NULL,NULL,986);
INSERT INTO shipping_tracker_faults VALUES(1159,'a',0,NULL,NULL,NULL,986);
CREATE TABLE IF NOT EXISTS "shipping_tracker_historicalpurchaseorders" ("id" bigint NOT NULL, "date_added" date NOT NULL, "date_received" date NULL, "received_by" varchar(20) NULL, "history_id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "history_date" datetime NOT NULL, "history_change_reason" varchar(100) NULL, "history_type" varchar(1) NOT NULL, "history_user_id" integer NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED, "warehouse_id" varchar(20) NULL, "po" varchar(20) NOT NULL);
CREATE TABLE IF NOT EXISTS "shipping_tracker_purchaseorders" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "date_added" date NOT NULL, "date_received" date NULL, "received_by" varchar(20) NULL, "warehouse_id" varchar(20) NULL REFERENCES "shipping_tracker_warehouse" ("name") DEFERRABLE INITIALLY DEFERRED, "po" varchar(20) NOT NULL);
CREATE TABLE IF NOT EXISTS "shipping_tracker_backmarketlisting" ("listing_id" integer NOT NULL PRIMARY KEY, "sku_id" varchar(20) NOT NULL REFERENCES "shipping_tracker_deviceattributes" ("sku") DEFERRABLE INITIALLY DEFERRED, "title" varchar(255) NOT NULL, "price" decimal NULL, "min_price" decimal NULL, "backmarket_id" integer NOT NULL, "product_id" char(32) NOT NULL, "max_price" decimal NULL, "quantity" integer NULL);
INSERT INTO shipping_tracker_backmarketlisting VALUES(1490681,'IP864SGBC','iPhone 8 64GB - Space Gray - Unlocked',174.90000000000001101,159,36827,'3216e0c7ba9a43fa9d420912eb92875c',249,0);
INSERT INTO shipping_tracker_backmarketlisting VALUES(1540918,'IP864SAB','iPhone 8 64GB - Silver - Unlocked',191.40000000000000568,174,36828,'4775d225bddf44a18e86e358e0706502',249,0);
INSERT INTO shipping_tracker_backmarketlisting VALUES(1540920,'IP864SBC','iPhone 8 64GB - Silver - Unlocked',194.69999999999998863,177,36828,'4775d225bddf44a18e86e358e0706502',249,0);
CREATE TABLE IF NOT EXISTS "shipping_tracker_historicalbackmarketlisting" ("listing_id" integer NOT NULL, "title" varchar(255) NOT NULL, "price" decimal NULL, "min_price" decimal NULL, "quantity" integer NULL, "backmarket_id" integer NOT NULL, "product_id" char(32) NOT NULL, "max_price" decimal NULL, "history_id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "history_date" datetime NOT NULL, "history_change_reason" varchar(100) NULL, "history_type" varchar(1) NOT NULL, "history_user_id" integer NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED, "sku_id" varchar(20) NULL);
INSERT INTO shipping_tracker_historicalbackmarketlisting VALUES(3300577,'iPhone 13 Pro 128GB - Silver - Unlocked',850,NULL,1,512412,'9d30a67d26d04324833e60e73682f4cd',949,1,'2024-01-24 15:52:04.470589',NULL,'~',NULL,'IP13PRO128SAB');
INSERT INTO shipping_tracker_historicalbackmarketlisting VALUES(3035444,'iPhone 12 128GB - Purple - Unlocked',563,497,2,475988,'83c3488ed01c43299f2e949f7560631f',699,2,'2024-01-24 15:52:04.481583',NULL,'~',NULL,'IP12128PBC');
INSERT INTO shipping_tracker_historicalbackmarketlisting VALUES(3035436,'iPhone 12 128GB - White - Unlocked',511,NULL,1,418116,'fc516a2dd3bc4ed699d8a4f51e550d4d',699,3,'2024-01-24 15:52:04.490586',NULL,'~',NULL,'IP12128WBC');
DELETE FROM sqlite_sequence;
INSERT INTO sqlite_sequence VALUES('django_migrations',57);
INSERT INTO sqlite_sequence VALUES('django_admin_log',0);
INSERT INTO sqlite_sequence VALUES('django_content_type',27);
CREATE UNIQUE INDEX "auth_group_permissions_group_id_permission_id_0cd325b0_uniq" ON "auth_group_permissions" ("group_id", "permission_id");
CREATE INDEX "auth_group_permissions_group_id_b120cbf9" ON "auth_group_permissions" ("group_id");
CREATE INDEX "auth_group_permissions_permission_id_84c5c92e" ON "auth_group_permissions" ("permission_id");
CREATE UNIQUE INDEX "auth_user_groups_user_id_group_id_94350c0c_uniq" ON "auth_user_groups" ("user_id", "group_id");
CREATE INDEX "auth_user_groups_user_id_6a12ed8b" ON "auth_user_groups" ("user_id");
CREATE INDEX "auth_user_groups_group_id_97559544" ON "auth_user_groups" ("group_id");
CREATE UNIQUE INDEX "auth_user_user_permissions_user_id_permission_id_14a6b632_uniq" ON "auth_user_user_permissions" ("user_id", "permission_id");
CREATE INDEX "auth_user_user_permissions_user_id_a95ead1b" ON "auth_user_user_permissions" ("user_id");
CREATE INDEX "auth_user_user_permissions_permission_id_1fbb5f2c" ON "auth_user_user_permissions" ("permission_id");
CREATE INDEX "django_admin_log_content_type_id_c4bce8eb" ON "django_admin_log" ("content_type_id");
CREATE INDEX "django_admin_log_user_id_c564eba6" ON "django_admin_log" ("user_id");
CREATE UNIQUE INDEX "django_content_type_app_label_model_76bd3d3b_uniq" ON "django_content_type" ("app_label", "model");
CREATE UNIQUE INDEX "auth_permission_content_type_id_codename_01ab375a_uniq" ON "auth_permission" ("content_type_id", "codename");
CREATE INDEX "auth_permission_content_type_id_2f476e4b" ON "auth_permission" ("content_type_id");
CREATE INDEX "django_session_expire_date_a5c62663" ON "django_session" ("expire_date");
CREATE INDEX "data_browser_view_owner_id_2851e901" ON "data_browser_view" ("owner_id");
CREATE INDEX "shipping_tracker_devices_sku_id_71298f3b" ON "shipping_tracker_devices" ("sku_id");
CREATE INDEX "shipping_tracker_devices_deviceStatus_id_37f518fb" ON "shipping_tracker_devices" ("deviceStatus_id");
CREATE INDEX "shipping_tracker_suppliers_currency_id_b469c86d" ON "shipping_tracker_suppliers" ("currency_id");
CREATE INDEX "shipping_tracker_salesorders_warehouse_id_f3372a6c" ON "shipping_tracker_salesorders" ("warehouse_id");
CREATE INDEX "shipping_tracker_salesorderitems_currencies_id_2005d73f" ON "shipping_tracker_salesorderitems" ("currencies_id");
CREATE INDEX "shipping_tracker_salesorderitems_sku_id_d33fe7b9" ON "shipping_tracker_salesorderitems" ("sku_id");
CREATE INDEX "shipping_tracker_salesorderitems_so_id_65911d9e" ON "shipping_tracker_salesorderitems" ("so_id");
CREATE INDEX "shipping_tracker_purchaseorderitems_currencies_id_c590ec7a" ON "shipping_tracker_purchaseorderitems" ("currencies_id");
CREATE INDEX "shipping_tracker_purchaseorderitems_po_id_91d6d290" ON "shipping_tracker_purchaseorderitems" ("po_id");
CREATE INDEX "shipping_tracker_purchaseorderitems_sku_id_156e6653" ON "shipping_tracker_purchaseorderitems" ("sku_id");
CREATE INDEX "shipping_tracker_purchaseorderitems_supplier_id_3acea1d4" ON "shipping_tracker_purchaseorderitems" ("supplier_id");
CREATE INDEX "shipping_tracker_historicalsalesorderitems_item_54da007f" ON "shipping_tracker_historicalsalesorderitems" ("item");
CREATE INDEX "shipping_tracker_historicalsalesorderitems_history_date_cec33291" ON "shipping_tracker_historicalsalesorderitems" ("history_date");
CREATE INDEX "shipping_tracker_historicalsalesorderitems_currencies_id_334599f6" ON "shipping_tracker_historicalsalesorderitems" ("currencies_id");
CREATE INDEX "shipping_tracker_historicalsalesorderitems_history_user_id_bc9e8945" ON "shipping_tracker_historicalsalesorderitems" ("history_user_id");
CREATE INDEX "shipping_tracker_historicalsalesorderitems_sku_id_dfb86a96" ON "shipping_tracker_historicalsalesorderitems" ("sku_id");
CREATE INDEX "shipping_tracker_historicalsalesorderitems_so_id_5609ddaf" ON "shipping_tracker_historicalsalesorderitems" ("so_id");
CREATE INDEX "shipping_tracker_historicalpurchaseorderitems_item_8b2426ca" ON "shipping_tracker_historicalpurchaseorderitems" ("item");
CREATE INDEX "shipping_tracker_historicalpurchaseorderitems_history_date_47d94b6e" ON "shipping_tracker_historicalpurchaseorderitems" ("history_date");
CREATE INDEX "shipping_tracker_historicalpurchaseorderitems_currencies_id_5d80dfc5" ON "shipping_tracker_historicalpurchaseorderitems" ("currencies_id");
CREATE INDEX "shipping_tracker_historicalpurchaseorderitems_history_user_id_bfeefdde" ON "shipping_tracker_historicalpurchaseorderitems" ("history_user_id");
CREATE INDEX "shipping_tracker_historicalpurchaseorderitems_po_id_fad8620b" ON "shipping_tracker_historicalpurchaseorderitems" ("po_id");
CREATE INDEX "shipping_tracker_historicalpurchaseorderitems_sku_id_bbe41ce0" ON "shipping_tracker_historicalpurchaseorderitems" ("sku_id");
CREATE INDEX "shipping_tracker_historicalpurchaseorderitems_supplier_id_3f9b1ad6" ON "shipping_tracker_historicalpurchaseorderitems" ("supplier_id");
CREATE INDEX "shipping_tracker_historicaldevices_id_bb0a7df8" ON "shipping_tracker_historicaldevices" ("id");
CREATE INDEX "shipping_tracker_historicaldevices_imei_caac307f" ON "shipping_tracker_historicaldevices" ("imei");
CREATE INDEX "shipping_tracker_historicaldevices_history_date_6e8d8303" ON "shipping_tracker_historicaldevices" ("history_date");
CREATE INDEX "shipping_tracker_historicaldevices_deviceStatus_id_71754dbe" ON "shipping_tracker_historicaldevices" ("deviceStatus_id");
CREATE INDEX "shipping_tracker_historicaldevices_history_user_id_0a1193df" ON "shipping_tracker_historicaldevices" ("history_user_id");
CREATE INDEX "shipping_tracker_historicaldevices_po_id_857c8f18" ON "shipping_tracker_historicaldevices" ("po_id");
CREATE INDEX "shipping_tracker_historicaldevices_sku_id_38bddb3e" ON "shipping_tracker_historicaldevices" ("sku_id");
CREATE INDEX "shipping_tracker_historicaldevices_so_id_805face6" ON "shipping_tracker_historicaldevices" ("so_id");
CREATE INDEX "shipping_tracker_historicaldevices_warehouse_id_73557c64" ON "shipping_tracker_historicaldevices" ("warehouse_id");
CREATE INDEX "shipping_tracker_faults_device_id_9eadb1cd" ON "shipping_tracker_faults" ("device_id");
CREATE INDEX "shipping_tracker_devices_po_id_7dadef88" ON "shipping_tracker_devices" ("po_id");
CREATE INDEX "shipping_tracker_devices_so_id_081b9175" ON "shipping_tracker_devices" ("so_id");
CREATE INDEX "shipping_tracker_devices_warehouse_id_50da5633" ON "shipping_tracker_devices" ("warehouse_id");
CREATE INDEX "shipping_tracker_historicalpurchaseorders_id_8d565dc4" ON "shipping_tracker_historicalpurchaseorders" ("id");
CREATE INDEX "shipping_tracker_historicalpurchaseorders_history_date_745e202c" ON "shipping_tracker_historicalpurchaseorders" ("history_date");
CREATE INDEX "shipping_tracker_historicalpurchaseorders_history_user_id_42bfd705" ON "shipping_tracker_historicalpurchaseorders" ("history_user_id");
CREATE INDEX "shipping_tracker_historicalpurchaseorders_warehouse_id_836590d1" ON "shipping_tracker_historicalpurchaseorders" ("warehouse_id");
CREATE INDEX "shipping_tracker_purchaseorders_warehouse_id_063f3349" ON "shipping_tracker_purchaseorders" ("warehouse_id");
CREATE INDEX "shipping_tracker_backmarketlisting_sku_id_d170b1d3" ON "shipping_tracker_backmarketlisting" ("sku_id");
CREATE INDEX "shipping_tracker_historicalbackmarketlisting_listing_id_a23b539c" ON "shipping_tracker_historicalbackmarketlisting" ("listing_id");
CREATE INDEX "shipping_tracker_historicalbackmarketlisting_history_date_8dd4c73e" ON "shipping_tracker_historicalbackmarketlisting" ("history_date");
CREATE INDEX "shipping_tracker_historicalbackmarketlisting_history_user_id_78f57c84" ON "shipping_tracker_historicalbackmarketlisting" ("history_user_id");
CREATE INDEX "shipping_tracker_historicalbackmarketlisting_sku_id_2abff54a" ON "shipping_tracker_historicalbackmarketlisting" ("sku_id");
COMMIT;
