<!-- Start of table -->
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col" class="id col-2" x-show="states.dateChecked" x-transition>Status</th>
      <th scope="col" class="date col-2" x-show="states.idChecked" x-transition>Count</th>
    </tr>
  </thead>
  <tbody>
    {% for item in table %}
      <tr scope="row">
        <td class="border px-4 py-2 date"
            x-show="states.dateChecked"
            x-transition>{{ item.Shipping_Status }}</td>
        <td class="border px-4 py-2 id" x-show="states.idChecked" x-transition>
          <button hx-get="/{{ item.order_id }}"
                  hx-target="#modals-here"
                  hx-trigger="click"
                  @click="modalShow =! modalShow"
                  class="btn btn-success">{{ item.count }}</button>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
<!-- End of table -->
<!-- Pagination Controls -->
<div class="mt-4" id="paginationControls">
  <label for="page">Page</label>
  <select hx-trigger='change'
          hx-get=""
          hx-target="#table-pagination-container"
          hx-swap="innerHTML transition:true"
          name='page'>
    {% for page in table.paginator.page_range %}
      {% with currentpage as selected %}
        <option value="{{ page }}"
                {% if page|slugify == selected|slugify %}selected{% endif %}>{{ page }}</option>
      {% endwith %}
    {% endfor %}
  </select>
  of {{ table.paginator.num_pages }}.
  {% if table.has_previous %}
    <a hx-get="?page=1&start_date={{ date.0|date:'Y-m-d' }}&end_date={{ date.1|date:'Y-m-d' }}"
       hx-target="#table-pagination-container"
       hx-swap="innerHTML transition:true"
       class="mr-2">
      <button class="btn  btn-primary">First</button>
    </a>
    <a hx-get="?page={{ table.previous_page_number }}&start_date={{ date.0|date:'Y-m-d' }}&end_date={{ date.1|date:'Y-m-d' }}"
       hx-target="#table-pagination-container"
       hx-swap="innerHTML transition:true"
       class="mr-2">
      <button class="btn  btn-primary">Previous</button>
    </a>
  {% endif %}
  {% if table.has_next %}
    <a hx-get="?page={{ table.next_page_number }}&start_date={{ date.0|date:'Y-m-d' }}&end_date={{ date.1|date:'Y-m-d' }}"
       hx-target="#table-pagination-container"
       hx-swap="innerHTML transition:true"
       class="mr-2">
      <button class="btn btn-primary">Next</button>
    </a>
    <a hx-get="?page={{ table.paginator.num_pages }}&start_date={{ date.0|date:'Y-m-d' }}&end_date={{ date.1|date:'Y-m-d' }}"
       hx-target="#table-pagination-container"
       hx-swap="innerHTML transition:true"
       class="mr-2">
      <button class="btn  btn-primary">Last</button>
    </a>
  {% endif %}
</div>
<!-- End of Pagination Controls -->
