<h2>Select Model</h2>
<select class='filter' id="modelSelect" style="width: 100%">
    {% if model %}
        <option value="{{ model }}">{{ model }}</option>
    {% else %}
        <option value="">Select Model</option>
    {% endif %}
    {% for model_group in device_attributes.model %}
        <option value="{{ model_group }}">{{ model_group }}</option>
    {% endfor %}
</select>
<select class="filter" id="capacitySelect" style="width: 100%">
    {% if capacity %}
        <option value="{{ capacity }}">{{ capacity }}</option>
    {% else %}
        <option value="">Select Capacity</option>
    {% endif %}
    {% for capacity in device_attributes.capacity %}<option value="{{ capacity }}">{{ capacity }}</option>{% endfor %}
</select>
<select class='filter' id="colorSelect" style="width: 100%">
    {% if color %}
        <option value="{{ color }}">{{ color }}</option>
    {% else %}
        <option value="">Select Color</option>
    {% endif %}
    {% for color in device_attributes.color %}<option value="{{ color }}">{{ color }}</option>{% endfor %}
</select>
<select class='filter' id="gradeSelect" style="width: 100%">
    {% if grade %}
        <option value="{{ grade }}">{{ grade }}</option>
    {% else %}
        <option value="">Select Grade</option>
    {% endif %}
    {% for grade in device_attributes.grade %}<option value="{{ grade }}">{{ grade }}</option>{% endfor %}
</select>
