{% extends "base.html" %}
{% block title %}
    {{ page_title }}
{% endblock title %}
{% block content %}
    {% load static %}
    <h1>
        Hello, Chris.
        <br>
        It's currently {{ days_to_christmas }} Days Until Christmas
    </h1>
    <div class="flex justify-center items-center h-screen">
        <img src="{% static 'img/beauty.jpg' %}" alt="My image">
        <!-- Modal -->
        <div id="modals-here"
             class="float"
             x-show="modalShow"
             x-transition
             x-cloak
             @click.outside="modalShow = false"></div>
        <!-- Modal Background -->
        <div x-show="modalShow" class="overlay"></div>
        <!-- End of Modal -->
    </div>
{% endblock content %}
