{% extends "base.html" %}
{% load custom_tags %}
{% block title %}
    {{ page_title }}
{% endblock title %}
{% block content %}
    <h2>Uploaded :{{ uploaded | length }}</h2>
    <h2>Missing POs: {{ po | length }}</h2>
    <h2>Missing SKUS</h2>
    <table class="table">
        <thead>
            <tr>
                <td>Model</td>
                <td>Capacity</td>
                <td>Color</td>
                <td>Grade</td>
                <td>Count</td>
                <td>New SKU</td>
                <td>Ignore</td>
            </tr>
        </thead>
        <tbody>
            {% for atrributes in missing %}
                {% with atrributes.missing_id as rowid %}
                    <tr id="{{ rowid }}" processed="False">
                        <td class="model">{{ atrributes.model }}</td>
                        <td class="capacity">{{ atrributes.capacity }}</td>
                        <td class="color">{{ atrributes.color }}</td>
                        <td class="grade">{{ atrributes.grade }}</td>
                        <td>{{ atrributes.count }}</td>
                        <td class='skuInput'>
                            <input class="newsku form-control" placeholder="Create New SKU">
                            <button onclick="createsku('{{ rowid }}')"
                                    class="createSku btn btn-primary btn-sm">Create</button>
                        </td>
                        <td>
                            <button class="btn btn-danger" onclick="ignoreRow('{{ rowid }}')">Ignore</button>
                        </td>
                    </tr>
                {% endwith %}
            {% endfor %}
        </tbody>
    </table>
    <a id="uploadButton"
       href="{% url 'add_stock_imeis' %}?retry=True"
       class="btn btn-success disabled">Upload</a>
{% endblock content %}
