{% extends "base.html" %}
{% load custom_tags %}
{% block title %}
    {{ page_title }}
{% endblock title %}
{% block content %}
    <select id="statusFilter">
        <option value="">Select Model</option>
        {% for model_group in device_attributes.model %}
            <option value="{{ model_group }}">{{ model_group }}</option>
        {% endfor %}
    </select>
    <table id="invTable" class="display" style="width:100%">
        <thead>
            <tr>
                <th>IMEI</th>
                <th>Model</th>
                <th>Capacity</th>
                <th>Color</th>
                <th>Grade</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
{% endblock content %}
