{% extends "base.html" %}
{% load custom_tags %}
{% block title %}
    {{ page_title }}
{% endblock title %}
{% block content %}
    <div class="row my-2">
        <div class="col-md-4" id="filter_body" data-filter-data="{{ statuses }}">
            <select class='filter' id="modelSelect" multiple style="width: 100%">
                {% for model_group in device_attributes.model %}
                    <option value="{{ model_group }}">{{ model_group }}</option>
                {% endfor %}
            </select>
            <select class='filter' id="colorSelect" multiple style="width: 100%">
                {% for color in device_attributes.color %}<option value="{{ color }}">{{ color }}</option>{% endfor %}
            </select>
            <select class='filter' id="gradeSelect" multiple style="width: 100%">
                {% for grade in device_attributes.grade %}<option value="{{ grade }}">{{ grade }}</option>{% endfor %}
            </select>
            <label for="battAb">Battery Above</label>
            <input type="text"
                   class="filter"
                   id="battAb"
                   name="valueInput"
                   placeholder="Above">
            <label for="battBe">Battery Below</label>
            <input type="text"
                   class="filter"
                   id="battBe"
                   name="valueInput"
                   placeholder="Below">
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="col-md-4"></div>
        </div>
    </div>
    <table id="invTable" class="display" style="width:100%">
        <thead>
            <tr>
                <th>IMEI</th>
                <th>Model</th>
                <th>Capacity</th>
                <th>Color</th>
                <th>Grade</th>
                <th>Battery</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
{% endblock content %}
