{% extends "base.html" %}
{% block content %}
    {% load static %}
    <h1>Sales</h1>
    <!-- djlint:off -->
                                            <table id="salesTable" style="width:100%">
                                                <thead>
                                                    <tr>
                                                        <th>Order ID</th>
                                                        <th>Order Date</th>
                                                        <th>Channel</th>
                                                        <th>Customer Name</th>
                                                        <th> Quantity</th>
                                                        <th>Status</th>
                </tr>
            </thead>
            <tbody>
<!-- djlint:on -->
</tbody>
</table>
<!-- Modal -->
<div id="modals-here"
     class="float"
     x-show="modalShow"
     x-transition
     x-cloak
     @click.outside="modalShow = false"></div>
<!-- Modal Background -->
<div x-show="modalShow" class="overlay"></div>
<!-- End of Modal -->
<script src="{% static 'js/salesTable.js' %}"></script>
{% endblock content %}
